[2015-10-10 00:10] jedverity opened #1 "Handle modifier keys"

[2015-10-10 18:06] glortho commented on #1
Preliminary support added with https://github.com/jedverity/react-keydown/commit/e5538af4e944a0d9a4d4a46a23c10cc13972b6b1

[2015-10-10 18:06] #1 closed

[2015-10-10 21:01] jedverity opened #2 "Need api/reference documentation"

[2015-10-11 12:17] jedverity opened #3 "Purify - too many side effects to manage"

[2015-10-11 12:22] jedverity opened #4 "Add queue for instances?"
Options could be:

1) Refocus on previous if it is parent of current unmounting instance

2) Auto focus on previous no matter what when current unmounts.

Etc.

[2015-10-11 18:20] jedverity opened #5 "Key library incomplete"
Not all key codes have string equivalents in keys.js.

[2015-10-11 18:34] glortho opened #6 "Make decorators individually requirable"
The class decorator, for example, is less obtrusive when used on its own than the method decorators.

[2015-10-13 03:01] #2 closed

[2015-10-13 15:58] #4 closed

[2015-10-14 02:10] jedverity opened #8 "Better/more examples"

[2015-10-14 02:10] glortho opened #9 "Switch to esdoc and complete coverage"

[2015-10-14 02:10] jedverity opened #10 "Tests!"

[2015-10-14 07:04] kuuup opened #11 "Make compatible to react 0.14.0"
Hi!

Since react 0.14.0 there is an error when I decorate a method in a react component with ```@keydown(key)``` (react-keydown 1.3.6):

*class_decorator.js:19 Uncaught TypeError: Cannot call a class as a function*

Worked for me with react 0.14.0-rc1.

[2015-10-20 12:51] glortho commented on #11
Okay @kuuup I'll investigate today.

[2015-10-20 12:52] glortho commented on #3
This is in a manageable place for now.

[2015-10-20 12:52] #3 closed

[2015-10-20 12:58] glortho commented on #11
Actually @kuuup can you share a little more of your code, like maybe all or part of the component class definition?

[2015-10-20 13:05] kuuup commented on #11
Sure!

[code]

[2015-10-20 13:08] glortho commented on #11
Ah yes, sorry @kuuup. I changed the Keys api. Now you can use `@keydown( 'enter' )` instead of aliasing the key code through the `Keys` interface. If you still want to do that, however, it's lower case: `const { enter } = Keys`.

(Still working on getting my changelog in shape. Getting there...)

[2015-10-20 13:34] kuuup commented on #11
I missed this api change, sorry! Maybe it should be mentioned in the docs.

But it still doesn't work:

[code]

I close this one because my initial problem seems to be solved.

[2015-10-20 13:34] #11 closed

[2015-10-20 13:36] kuuup commented on #11
And before I forget: Thanks :)

[2015-10-20 14:58] glortho commented on #11
Happy to help @kuuup - hopefully you're nearly there. Can you try updating to the latest version react-keydown (1.4.0) and see if it helps with your problem?

[2015-10-30 03:12] jdart opened #12 "Having trouble getting this working in a este project (https://github.com/este/este)"
I'm new to react so I could be doing something wrong. I'm trying to use the method decorator pattern which seems pretty straight forward, but my method is never firing. I stepped through some of your project code and from what I can tell in method_decorator.js (dist version) line 35, "var componentDidMount = target.componentDidMount;" is receiving undefined.

I realize this isn't much info, what c

[2015-10-30 03:31] glortho commented on #12
Sorry to hear of the troubles. If you post your component code I'll take a look, though it will definitely yield undesirable results when run server-side since it blindly relies on a global document object and the DOM API.

[2015-10-30 10:39] glortho commented on #12
I also need to update the documentation to show that version 1.4+ is meant to be used with React 0.14+ and 1.3 with React 0.13-.

[2015-10-30 14:58] jdart commented on #12
I'll share the exact code tonight, but it's based on a component like this: https://github.com/este/este/blob/master/src/client/home/Page.react.js

just with the added "@keydown ( keys.RIGHT ) doStuff() { console.log('firing') }"

Any chance that using react-pure-render as the base class is causing a problem?

[2015-10-30 15:00] jdart commented on #12
fwiw i ended up using "document.addEventListener("keydown", ...);" in componentDidMount and that worked, even with server side rendering.

[2015-10-30 15:36] glortho commented on #12
Okay thanks for the info @jdart . I haven't looked closely yet but it's possible that using es7 class properties breaks things, or that the extra class extension you mentioned is involved. If you post your code (and ideally a codepen, but I know that may be too complex) I'll take a closer look.

[2015-10-30 15:39] glortho commented on #12
Actually @jdart can you try going the class decorator route and see if that works? That will help narrow things down:

[code]

[2015-11-04 01:53] glortho commented on #12
For anyone else who lands here note that decorator support is currently broken in Babel 6.x - https://github.com/babel/babel/issues/2711

[2015-11-04 01:53] #12 closed

[2015-11-11 02:43] #10 closed

[2015-12-09 16:42] ali opened #13 "babel 6 compatibility"
The readme mentions that decorators are currently broken in Babel 6. Has anyone recently tried this library with the latest version of Babel?

The link in that note (https://github.com/babel/babel/issues/2645) is broken, and the [Babel 6.0 release blog post](http://babeljs.io/blog/2015/10/29/6.0.0/) mentions decorator support:

It seems like all you need to do is enable the [stage 1 preset plugin]

[2015-12-09 16:51] glortho commented on #13
Thanks for this prompting @ali . The issue moved out of GitHub to phabricator: https://phabricator.babeljs.io/T2645

I see there that @loganfsmyth has patched in the old decorator proposal as a plugin -- https://www.npmjs.com/package/babel-plugin-transform-decorators-legacy -- so if the new proposal implementation in Babel 6 doesn't work predictably the plugin should help.

The dist of react-keydo

[2015-12-19 06:09] babsonmatt opened #14 "TypeError: (0 , _store.getBinding) is not a function"
@keydown on a method appears to work but @keydown('enter') on a method and @keydown/@keydown('enter') on a class throws `TypeError: (0 , _store.getBinding) is not a function`

Any ideas? Thanks!

[2015-12-21 14:28] glortho commented on #14
Sorry for the delay @babsonmatt. Are you using Babel 6+?

[2015-12-21 14:45] glortho commented on #14
I believe https://github.com/glortho/react-keydown/commit/39c2c39e8d97b393600cb8d5c40cb212f8c00bb2 addresses that issue @babsonmatt but reopen if you still have problems.

[2015-12-21 14:45] #14 closed

[2015-12-27 02:04] Desuvader opened #15 "Wrong module name on gh-pages website"
Currently says `import {...} from 'keydown'`. Should be `import {...} from 'react-keydown'`

http://glortho.github.io/react-keydown/example/index.html

[2015-12-27 02:48] glortho commented on #15
Thank you for the correction @desuvader. I'll push the change tomorrow. 

[code]

From: Desuvader notifications@github.com
Sent: Saturday, December 26, 2015 9:04 PM
Subject: [react-keydown] Wrong module name on gh-pages website (#15)
To: glortho/react-keydown react-keydown@noreply.github.com

Currently says import {...} from 'keydown'. Should be import {...} from 'react-keydown'

http://glortho.gi

[2015-12-28 18:00] glortho commented on #15
Fixed in ea8168a0c93ca27e76e1725181c076cdadf09675

[2015-12-28 18:00] #15 closed

[2016-01-27 21:37] #13 closed

[2016-01-28 15:22] kmetsalu opened #16 "Make it work with Babel 6"
Currently it is working with Babel 5 decorators support, but something happens in [babel-plugin-transform-decorators-legacy](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy).

I get an error:
![image](https://cloud.githubusercontent.com/assets/3165311/12648621/877ed188-c5e3-11e5-886d-af1a0383f2c0.png)

Using https://github.com/christianalfoni/webpack-express-boilerplate as

[2016-01-28 15:38] glortho commented on #16
@kmetsalu Are you decorating a class or method? Show me your code that has the `@keydown` call and I'll take a look.

[2016-01-28 17:20] kmetsalu commented on #16
@glortho  - Currently method.

[code]

from the boilerplate.

[2016-01-28 19:11] glortho commented on #16
@kmetsalu It turns out this is an issue with hot reloading + Babel 6: https://github.com/gaearon/react-transform-hmr/issues/36#issuecomment-173272351 (the example there is with classes but the same should be roughly true with method decorators that rely on the identity of a component class's prototype and the prototype of an instance of that class). @gaearon suggests it'll be fixed in Babel 7, but

[2016-01-28 19:11] #16 closed

[2016-02-01 13:33] joshwcomeau opened #17 "Capture window keydown events"
I'm wondering if it's possible to capture events that aren't specifically sent to the component, but to still trigger a component's method.

My usecase is I have a grid in the center of the page, and I'm moving a little box around within it using the arrow keys. This works perfectly when the grid has "focus" by clicking on it, but I'd like for it to be able to capture keydown events on the window/

[2016-02-01 14:16] glortho commented on #17
@joshwcomeau My recommended way to do this is to decorate an ancestor class (it could be your root class if you really want it to be app-wide) with `@keydown( myKeys )` and then decorate your method inside the descendent class with `@keydownScoped( myKeys )` - or just inspect the `keydown.event` prop in the `componentWillReceiveProps` lifecycle method of that descendent class. Let me know if that

[2016-02-01 14:37] #17 closed

[2016-02-01 14:44] joshwcomeau commented on #17
Thanks so much for the quick reply!

I should have read the docs more carefully, that sounds like it'll work very well.

[2016-02-01 14:53] glortho commented on #17
No problem. I should put a tl;dr in the docs for this since it's a pretty common need and it's buried pretty deep in there.

[2016-02-04 22:24] dbachko opened #18 "Uncaught TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined"
I am getting this error when I am trying to decorate method

![screen shot 2016-02-04 at 5 11 44 pm](https://cloud.githubusercontent.com/assets/9260214/12831775/21104e5a-cb64-11e5-8e81-8e60c3dbd4ee.png)

[2016-02-04 22:25] glortho commented on #18
Hi @dbachko . This is very likely a duplicate of https://github.com/glortho/react-keydown/issues/16. Feel free to reopen if more discussion is warranted.

[2016-02-04 22:25] #18 closed

[2016-02-04 22:29] dbachko commented on #18
Thank you

[2016-02-05 22:14] JonathanWi commented on #16
Hey @glortho I'm having the same issue, even using the react-preset (which btw doesn't seem to compile decorator...). Any idea for a workaround?

Thanks a lot :)

[2016-02-05 22:23] glortho commented on #16
Are you using the legacy decorator plugin for Babel 6?

[2016-02-05 22:28] JonathanWi commented on #16
Yes I am, if I remove decorators doesn't compile anymore... Thanks a lot for your quick reply

[2016-02-06 00:08] JonathanWi commented on #16
No method seems to work... Have you ever successfully make it work using ES6?

[2016-02-06 00:25] glortho commented on #16
Hm yes it works fine for us. Are you using HMR with webpack? Post your webpack and Babel configs and I'll take a look. 

[2016-02-06 00:31] JonathanWi commented on #16
Thank you!

I've created a gist with my webpack / babel config available here : https://gist.github.com/JonathanWi/b9798b37263240592b9a

[2016-02-06 01:10] glortho commented on #16
It looks maybe like you're using HMR? If so it's possible that's the problem. If you're not using it I'll see if I can replicate with a similar set-up. If you can try with HMR enabled vs disabled and tell me the results it'll help with troubleshooting.

[2016-02-06 10:14] JonathanWi commented on #16
I'm using [HMRE](https://github.com/danmartinez101/babel-preset-react-hmre), which is HMR with error catching. What should I use if it's currently not compatible with HMR?

[2016-02-06 12:32] JonathanWi commented on #16
@glortho I disabled HMRE and now it works fine (even tho I don't have the hot module reload, which is a pain). Do you know of a workaround? Thanks for your help

[2016-02-06 13:37] gaearon commented on #16
Please file an issue with babel-plugin-react-transform and we can take a look. Please make sure to publish a project reproducing the issue so it’s easier to reproduce the problem.

[2016-02-06 18:17] glortho commented on #16
@gaearon @JonathanWi I don't know if this is a bug as much as an implementation incompatibility. react-keydown stores bindings in a map keyed by the prototype of the bound component class. When an instance of that class is mounted, and a keydown event is triggered, we match the prototype of that instance to the protoype key in the bindings map. (See the block that follows here: https://github.com/

[2016-02-06 19:19] gaearon commented on #16
The new Babel 6.5.0 passPerPreset option might help here.

[2016-02-06 19:29] glortho commented on #16
Thanks @gaearon.

@kmetsalu @JonathanWi @dbachko you could try the referenced Babel 6.5.0 feature, ensuring that the legacy decorator plugin is traversed before anything else: https://github.com/babel/babel/blob/master/CHANGELOG.md#a-traversal-per-preset. But I'm not sure how that will interact with HMR settings set elsewhere.

You can also try this workaround to see if it helps: https://github.co

[2016-02-07 11:47] JonathanWi commented on #16
@gaearon @glortho Thanks for the help. When updating to Babel 6.5.0, it appears that `babel-plugin-transform-decorators-legacy` breaks (Decorators are not supported yet on compile, which wasn't the case in 6.4.5).

Using the work around described [here](https://github.com/gaearon/react-transform-hmr/issues/36#issuecomment-173273055) doesn't work either and breaks on compile.

I must say that this

[2016-02-07 13:19] glortho commented on #16
Okay thank you for helping us track down the issue here @jonathanwi. We'll see what happens when everything compiles predictably on 6.5 but otherwise it seems we may need to work on a version that is more compatible with HMR. Stay tuned and please do let us know if you discover anything else.

[2016-02-07 13:30] gaearon commented on #16
I’m not sure. We should set up all the properties correctly. See tests in https://github.com/gaearon/react-proxy/blob/master/test/consistency.js.

If you can provide a failing test that would help.

[2016-02-07 19:10] glortho commented on #16
@JonathanWi @kmetsalu @dbachko See if 1.4.8 works for you (just pushed), which uses uuids instead of prototype refs as keys for bindings.

Thanks for your attention to this issue @gaearon - your tests confirmed that a failing test there would defy your intended functionality. In other words, since we were using prototype refs themselves as keys in our bindings Map (we might have been overlay enamo

[2016-02-07 19:14] JonathanWi commented on #16
This is awesome @glortho, it works perfectly for me!

[2016-02-07 19:15] glortho commented on #16
Good news @JonathanWi!

[2016-02-08 15:56] #9 closed

[2016-02-08 15:56] #6 closed

[2016-02-08 15:57] glortho opened #19 "switch from uuids to simple indices"

[2016-03-12 20:19] nuclearspike opened #20 "The "Live Demo" link is broken"
In the readme, the link to the github.io site give 404

[2016-03-13 16:56] glortho commented on #20
Sorry about that. I'll fix that up. In the meantime here it is: http://glortho.github.io/react-keydown/example/index.html

[2016-03-13 16:56] #20 closed

[2016-03-29 08:38] mkampik opened #21 "invalid version range according to semver"
I am having trouble installing ```react-keydown``` via [jspm](https://github.com/jspm/jspm-cli), which converts version ranges down to  ```^``` and ```~``` operators in an attempt to naturally enforce semver.

It seems that the the specified ```react-dom``` range of ```>=^0.14.0``` is not a valid range according to https://github.com/npm/node-semver and thus fails to install.

Could you please con

[2016-03-29 12:45] glortho commented on #21
Thanks @mkampik - fixed in 1.4.9.

[2016-03-29 12:45] #21 closed

[2016-03-29 15:13] mkampik commented on #21
Great, that did the trick. Thanks for the quick fix and nice work on react-keydown!

[2016-04-23 11:11] jpdevries commented on #8
I agree this would be great. I'd even be willing to contribute. I'm trying to use react-keydown but struggling to understand how. I have Babel. Do I need to be using webpack? I'm not sue how to include react-keydown in my Grunt based config.

[2016-04-23 16:43] glortho commented on #8
@jpdevries I take it you're not using a module system? I highly recommend using es6/2015 modules or commonjs, or at the very least something like requirejs. If you're not using one of the first two you can clone and use the [master-umd](https://github.com/glortho/react-keydown/tree/master-umd) branch, but this is not very well tested and, in my biased opinion, caters to a less productive approach

[2016-04-23 17:49] jpdevries commented on #8
@glortho I suppose I'm not but I'm not opposed to. So far I'm just using `grunt-babel` and some simple React classes.
https://github.com/jpdevries/nightair/blob/master/_build/jsx/main.jsx

Everything is just in one file and I haven't split them up yet.

The example code is confusing to me with the `@keydown` and it seems like there should be dot notation where there isn't. Is that es2015 syntax or

[2016-04-23 17:52] glortho commented on #8
Ah I see @jpdevries . `@keydown` uses decorators, a proposed addition to JavaScript. You can read up about them here https://github.com/wycats/javascript-decorators/ though if you're not already using them, and not using es2015 class syntax, I'd recommend against this pattern. A solution like this one might fit your current code better: https://github.com/mapbox/react-keybinding

[2016-04-23 17:54] glortho commented on #8
Or this one @jpdevries, which is also a nice approach: https://github.com/Chrisui/react-hotkeys

[2016-04-23 17:54] jpdevries commented on #8
@glortho Ok thanks. That explains the confusion there. I'll check that other solution out. I'd like to get more familiar with this workflow eventually.

[2016-04-23 17:57] jpdevries commented on #8
Cool I'll check that one out as well. I'm looking to add keyboard listeners to this alarm clock app http://jpdevries.github.io/nightair/ for things like spacebar + h/m to set the alarm. It will be used to teach students about React, JSX, and SVG so I need to make sure not to throw too much at them at once. Decorators look interesting though.

[2016-04-23 21:07] jpdevries commented on #8
Got set up with browserify and tried out react-keybindings but it doesn't seem to support things like `'space + h'` to detect when the space bar is held down and the h key is pressed. The modifiers are hard coded.

[2016-05-23 08:11] jeffijoe opened #22 "Provide option to trigger methods even when an input field is focused"
If an input field has focus in the component, the handler is not triggered.

I am using the decorator method.

[2016-05-23 13:17] glortho commented on #22
Thanks for the report @jeffijoe . This is by design (see [here](https://github.com/glortho/react-keydown/blob/master/src/event_handlers.js#L60)*), so that shortcuts don't interfere with user input, and because it's easy just to add `onKeyDown` to input fields if you want to capture keystrokes there.

Though looking back at this it occurred to me that it might be nice if a decorated method also act

[2016-05-23 13:20] jeffijoe commented on #22
Perhaps something like:

[code]

So the last parameter, if an object, would be treated as an options object. The `force` could override the previously mentioned behavior.

What do you think?

[2016-05-23 13:44] glortho commented on #22
Yeah it's worth considering something like this. I'd probably want it to be more explicit, along the lines of `triggerOnInputs: true`, or `onInputKeyDown: true`, though I'm not sure how I feel about this compared to an `onKeyDown` solution with the decorator acting in that case as a filter. The latter is a little extra work, and feels like it mixes methodologies, but it's also more explicit – you

[2016-05-23 13:46] jeffijoe commented on #22
Awesome :+1:

[2016-05-23 13:52] glebcha opened #23 "Doesn't match escape+any_key"
Matched only single esc, but not esc+any_key. Is it possible to implement?

[2016-05-23 14:01] glortho commented on #23
Thank you for the report @glebcha . There is no support for this yet, as the lib only supports multi-key bindings with standard modifier keys (and escape is not treated as a modifier). I plan to add support for multi-key combinations eventually, but probably not as soon as you would like. In any event I'll tag it and add it to the queue.

[2016-05-24 02:34] glortho commented on #22
@jeffijoe as of 1.6.0 i've done the second one, where you can add `onKeyDown` to your input, specifying the handler that you've decorated with `@keydown( myKeys )`. this is experimental so i'm not documenting it yet, but it seems to work. though it's maybe not your first choice of how to handle this, it'd be great to get your feedback as to whether and how well it works.

i'll get to the other app

[2016-05-24 09:05] jeffijoe commented on #22
Is it on npm? And do you have an example of how I can achieve my goal with the newly added feature?

[2016-05-24 11:29] jeffijoe commented on #19
This should be as simple as replacing the `uuid` function with one that increments a global counter. Right?

[2016-05-24 13:22] glortho commented on #22
@jeffijoe yes 1.6.0 is published. You can try:

[code]

[2016-05-24 13:23] glortho commented on #19
You got it @jeffijoe ! Want to take a crack at it?

[2016-05-24 13:29] glortho commented on #22
Note that this may be a desirable solution only when you want a particular keybinding to work in a particular input. If you want a binding to work across any number of inputs, you could spread `{ onKeyDown: this.myHandler }` into each of them, but it's probably better to give it a `ctrl` modifier, or wait for the brute force option coming soon (referenced above).

[2016-05-24 13:30] jeffijoe commented on #22
Basically, what I need is to catch the Esc key regardless if my input is focused or not - if the control hosting the input has focus (which includes the input itself) I need to intercept Esc keys. How would I do that?

[2016-05-24 13:31] jeffijoe commented on #19
Sure!

[2016-05-24 13:32] glortho commented on #22
@jeffijoe it should work to just replace 'a' with 'esc' in my example. Let me know if that doesn't work.

[2016-05-24 13:38] jeffijoe commented on #22
Oh, so you're not filtering out inputs anymore?

[2016-05-24 13:40] jeffijoe commented on #22
In https://github.com/glortho/react-keydown/issues/22#issuecomment-221266609 the onKeyDown for the input would trigger on all keys - I would need to just have it trigger on Esc only

[2016-05-24 13:44] glortho commented on #22
1.6.0 lets you override that behavior by adding an explicit `onKeyDown` binding to your input.

See here: https://github.com/glortho/react-keydown/blob/master/src/decorators/method_decorator.js#L40-L48

And here: https://github.com/glortho/react-keydown/blob/master/src/event_handlers.js#L38-L47

In this case `@keydown` acts as a filter, so that only the keys you've declared in the decorator will t

[2016-05-24 13:45] glortho commented on #22
Ah but looking at that code I see that you wouldn't be able to call this from elsewhere. Fixing.

[2016-05-24 14:20] jeffijoe commented on #22
But `onKeyDown` is a regular DOM event, so the `@keydown` decorator then catches it and triggers the method if it matches?

[2016-05-24 14:39] glortho commented on #22
Yes, when you provide your decorated method as the handler for the `onKeyDown` binding, the decorator intercepts the event and tries to match it to the declared keys. If no match is found it's a no-op.

[2016-05-24 14:44] #19 closed

[2016-05-24 15:42] jeffijoe commented on #22
@glortho that's brilliant! Will try it tomorrow.

[2016-05-25 06:13] jeffijoe commented on #22
It works with class ethods, but if I use

[code]

The method is triggered regardless of the key.

[2016-05-25 13:26] glortho commented on #22
Is that a function or an instance field? Functions are not supported in the (highly fluid) decorator spec, and instance fields are also highly experimental, so there is no support for them yet.

For functions you can try `const myMethod = keydown( Keys.ESC )( function() { ... } )` but react-keydown will currently expect that function arg to be a stateless functional component and will thus wrap it

[2016-05-25 13:26] #22 closed

[2016-05-25 13:29] jeffijoe commented on #22
What's odd is that the shortcut actually does work, just not within the input. But I can live with this, thanks for implementing!

[2016-07-21 06:28] elyobo opened #25 "dist version still contains uses Array.prototype.fill"
Array.prototype.fill is still not widely supported (e.g. no IE versions support it).

[2016-07-22 13:06] #25 closed

[2016-08-02 12:47] mzgajner opened #28 "Programatically switching focus"
The plugin generally works well for me as long as I use clicking to switch focus between components. But I'm making an app that is keyboard-only and would like to manually choose which component is currently active. For example:

- I have a sidebar with menu items which I navigate with keys.
- I press enter on an item, which renders a subpage on the right;
- at this point I would like to switch fo

[2016-08-02 12:52] glortho commented on #28
It should be the case that the most recently mounted component with keybindings receives keystrokes, until you focus somewhere outside the scope of that component. Is your subpage already mounted before you press enter on the item, and the showing of the subpage is just toggling visibility or something?

[2016-08-02 12:54] mzgajner commented on #28
Yup, the description was slightly simplified, the "subpage" is an already mounted component.

[2016-08-02 13:09] glortho commented on #28
Okay that makes sense. I haven't verified this but you should be able to call react-keydown's `onMount` handler programmatically, passing in the component instance. So it'd be something like this:

[code]

[2016-08-02 13:16] mzgajner commented on #28
Works like a charm! Thanks for a very prompt response ❤️

[2016-08-02 13:16] #28 closed

[2016-08-07 07:18] ronib opened #29 "Array.from(arr) is causing exception in IE11"
dist/store.js contains Array.from uses, which is not support by IE11.
Thanks!

[2016-08-17 19:24] gbishop opened #30 "Disable repeat?"
My users (mostly children) sometimes hold the key down (on purpose or because they can't lift their hand off the switch because of disability) thus triggering key repeat. I typically avoid this by binding keyup to clear a flag set on keydown and ignoring the keydown event if the flag is set.

I don't see that in your package but it looks like it would be simple to add. If you agree, I may try hack

[2016-08-18 18:52] glortho commented on #30
Sure that'd be nice @gbishop, probably with a sensible default and then an option to modify the behavior per binding or something.

[2016-08-23 17:45] illuminardy opened #31 "Support React v15"
Is there any plan to update the module to accept React v15 as a dependency. I did this locally, by updating package.json, but curious if it was something you were planning on doing.

Thanks.

[2016-08-23 19:59] glortho commented on #31
@illuminardy I would expect it to work with v15 since it has react at `>= 0.14.0` (and is in fact working for us with 15.3.1). this isn't the case for you?

[2016-08-24 14:16] illuminardy commented on #31
Thanks for the response. I will re-verify and let you know.

[2016-08-24 14:26] illuminardy commented on #31
Looks like it works now. I'll close the issue. Thanks for the help

[2016-08-24 14:26] #31 closed

[2016-09-02 13:53] acusti opened #32 "Feature request: add @keyup and @keyupScoped decorators"
In my use case, I’d like to be able to toggle state based on if a modifier key is pressed, so it would be great to be able to do something like:

[code]

In actually use, I think I would use @keydownScoped and @keyupScoped.

[2016-09-02 17:06] gbishop commented on #32
I could easily handle disabling key-repeat #30 with this feature.

[2016-10-06 08:42] X-Tender opened #33 "Not working on IE11 ?!"
Add a @keydown( 'right' );
Decorator to my function, it works on Chrome and Safari perfectly but on IE it doesnt do anything.
Is there a ways to debut it, for exaple get infrimations if the key event was triggered in the component when the key was pressed?

[2016-10-06 17:18] glortho commented on #33
I think this is probably a duplicate of https://github.com/glortho/react-keydown/issues/29. I should be able to get to this within a few days.

[2016-10-29 19:14] #29 closed

[2016-10-29 19:17] glortho commented on #33
Sorry for the delay @X-Tender . Try it out now (v1.6.3) and see if it works.

[2016-10-29 19:17] #33 closed

[2016-11-08 03:16] cyllu2 opened #34 "Doesn't work. Pure shit."
1) Fails with no error message.
2) Extremely bad documentation.
3) Doesn't do anything that a simple onKeyDown doesn't do.

[2016-11-08 21:58] glortho commented on #34
Sorry to hear of your troubles @cyllu2 . If you're interested in making it work, feel free to post sample code of how you're trying to use it and I'll take a look. If you've moved on to other solutions, carry on!

[2016-11-08 22:29] machineghost commented on #34
Wow, what a polite response to a truly juvenile submission. @cyllu2 should be ashamed of themselves.

[2016-11-08 22:34] machineghost opened #35 "Help With Enzyme-Based Testing"
`react-keydown` has worked great for me in the browser, but when I try to use Enzyme to test it I can't figure out how to simulate a keydown event that `react-keydown` will actually respond to.

If I have a component ...

    class SomeComponent extends React.Component {
        @keydown('ctrl+a')
        handler() {
            throw new Error(`Proof that we hit this line`);
        }
    }

and

[2016-11-09 04:17] glortho commented on #34
Ha thanks for the note, Jeremy. I've had my fair share of disgruntlement trying to get libs to work and generally want to help people reduce theirs. My guess is that this user isn't already well acquainted with decorators, and the Babel/tc39 issues around the proposal. A flaw in my documentation is that it more or less assumes you're already familiar with all of that. So point #2 above, if nothing

[2016-11-09 12:58] glortho commented on #35
Ok thanks for this additional info @machineghost. I definitely need to resolve these oversights. Give me a day or two and I should have fixes.

[2016-11-09 15:33] machineghost commented on #35
Thanks!

[2016-11-10 00:28] machineghost opened #36 "Support for "delete" key?"
I recently tried to do:

    @keydown('delete')

but it doesn't appear to be supported.  Of course:

    @keydown(46) // 46 == delete

does still work, but if it's not too much trouble could you please add an "alias" for delete?

[2016-11-10 01:20] glortho commented on #36
Ah okay. If you'd like you could add that to lib/keys and I'll merge. Otherwise I'll be back in the office tomorrow. 

On Wed, Nov 9, 2016 at 7:28 PM -0500, "Jeremy Walker" notifications@github.com wrote:

I recently tried to do:
@keydown('delete')

but it doesn't appear to be supported.  Of course:
@keydown(46) // 46 == delete

does still work, but if it's not too much trouble could you please ad

[2016-11-10 15:26] #34 closed

[2016-11-10 15:57] machineghost commented on #36
I just went to do it and it looks like you already made the change.  Thanks.

[2016-11-12 19:25] glortho commented on #35
Okay @machineghost I believe I've addressed your issues 1 and 2 above in version 1.6.5. Try it out and let me know.

As for testing, react-keydown actually just does one binding on `document` for the keydown event and one for click events. See here: https://github.com/glortho/react-keydown/blob/master/src/lib/listeners.js

So you should be able to test by simulating a keydown event on `document` a

[2016-11-12 19:26] #36 closed

[2016-11-14 19:59] machineghost commented on #35
I did and it works great, thank you so much!

Right now the tests that prompted this ticket are "disassembled on the shop floor" (so to speak), and I've had to switch gears to something else.  However, as soon as I can get back to those tests I'll try simulating the key events on the document.

[2016-11-14 19:59] #35 closed

[2016-11-14 20:02] glortho commented on #35
Sounds good @machineghost . Keep me apprised.

[2016-11-23 21:18] alex-cory opened #37 "How to differentiate between enter and shift+enter?"
How do you handle shift+enter here?
[code]

[2016-11-23 21:23] glortho commented on #37
@alex-cory the whole [KeyboardEvent](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent) is passed in as the arg so you should be able to check the value of `shiftKey`, something like:
[code]

[2016-11-23 21:23] #37 closed

[2016-11-23 21:30] iamthesiz commented on #37
glorious

[2016-11-24 10:48] k7sleeper commented on #18
I've included `<script src="vendor/core.js"></script>` at the top of my web pages to solve this problem in IE11.

[2016-11-24 10:55] k7sleeper commented on #29
Why do you include a polyfill in the library? It unnecessarily increases code size!
In IE11, also `Symbol` is missing. So including `<script src="vendor/core.js"></script>` solves the missing symbol 'Symbol' as well as missing `Array.from`.

From my point of view it should be stated in the readme of this module that the browser must be ES6 compatible so that everyone knows to include something lik

[2016-12-07 06:22] MattHartz opened #38 "Implementing a slack style enter entry"
Hi, I'm trying to set up a textfield to, on enter, submit.  But to support adding newlines, add a keybinding for ctrl + enter.  Capturing ctrl+enter is simple using
`
@keydown('ctrl+enter', 'enter')
  onKeyDown({ keyCode, ctrlKey }) {

  }

  render() {
    return (
      <TextField
        textareaStyle={styles.container}
        hintText="Send Announcements"
        fullWidth={true}
        mult

[2016-12-07 12:56] glortho commented on #38
@matthartz try calling that keydown-decorated method from onKeyDown in your text field. For example:
[code]

[2016-12-07 17:36] MattHartz commented on #38
Hi @glortho ,
My issue with this now calls onKeyDown twice if it matches the key combination.  For example pressing enter.

I tried that last night before submitting this post :)

[2017-01-31 06:37] vicinting opened #39 "Function gets called twice when input bound to multiple event handlers"
**Functions**

[code]

**Text Area**

[code]

Did the above instead of just one function since I couldn't find a way to discern between a regular Enter key and Shift+Enter. The event prop in the function just gives you one key (last pressed I assume), so I separated them into 2 functions.

It's working fine, however, the function seems to be called twice. When I hit enter, I see 'submit' in the co

[2017-01-31 11:03] ashokkumarsand opened #40 "Not woking for question mark"
when i press ?, the keydown is not working

[2017-02-09 13:50] vsc-github opened #41 "Usage with Stateless Functional Components?"
Is there any way to use react-keydown with a stateless component?

I know ES7 decorators are only supported with classes and not functions. Is there any workaround to this? Or do I have to switch to some other library? I really like react-keydown and would want to stick to it.

[2017-02-11 22:05] glortho commented on #41
Sorry @vsc-github I just saw this message. You should be able to use `keydown` as a higher-order component, like this:
[code]

[2017-02-11 22:07] glortho commented on #40
@ashokkumarsand it's probably expecting `shift+/` (or whatever your key combination is for creating a question mark). we should set up aliases for key combinations like this so that `?` gets translated to `shift+/` and vice versa. i would certainly welcome a pr!

[2017-02-11 22:09] glortho commented on #39
Same issue as #38 . I'll see if I can fix this in the next day or two.

[2017-02-14 14:38] #41 closed

[2017-02-14 14:38] #40 closed

[2017-02-15 20:29] AntonovAv opened #42 "'Symbol' type checking didn't work with symbol polyfill"
'react-keydon' uses symbol in lib/keys.js
method
[code]

But this typechecking didn't work with symbol polyfill. I use polyfill because i need to support ie10+, Safari 7+ browsers.
[Symbol](https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Symbol)

For support this you can use:
[Babel plugin](https://babeljs.io/docs/plugins/transform-es2015-typeof-symbol/)

[2017-02-17 17:13] salmanm opened #44 "Any chance we could add debounce support?"
While using this great lib, I felt the need to have debounce support. I'd be happy to PR it if guys here think its fine to implement as part of this.

[2017-02-20 07:07] ashokkumarsand commented on #40
@glortho Yeah this solution work. I map some symbols directly with key like m-> ?.

[2017-02-21 19:24] glortho commented on #44
Sure @salmanm happy to review a pr. Thank you!

[2017-02-21 19:24] #42 closed

[2017-02-24 02:21] #38 closed

[2017-02-24 02:31] glortho commented on #39
This should be fixed as of 1.6.9. Test it and let me know if not!

[2017-02-24 02:31] #39 closed

[2017-02-28 08:08] jorgerobles opened #45 "[Question] Is there a way to bubble a captured event?"
I've got a situation I have first check some conditions, and if not met, let the event go upstream. Is that possible?

[2017-02-28 15:59] glortho commented on #45
@jorgerobles events are caught off of `document` so unless you `stopPropagation()` somewhere they should bubble. Is that not happening for you?

[2017-02-28 16:01] jorgerobles commented on #45
I was fiddling with some system keys, maybe that were interferences. I will check again, thanks!

[2017-02-28 20:25] glortho commented on #45
okay, let me know and i'll re-open if need be.

[2017-02-28 20:25] #45 closed

[2017-03-23 06:39] ashokkumarsand opened #46 "Not working keydown when it nested multilevel"
[code]
In this scenario keydown is not working

[2017-03-23 16:52] glortho commented on #46
@ashokkumarsand are you saying your code is like this?
[code]
If so, are you doing something like `React.cloneElement( children, ...otherProps )` inside of `MyComp.render()` and `OneComp.render()`? if not, the `keydown` prop won't make it down to `TwoComp`. I've considered switching over to the `context` API so that you don't have to explicitly pass props down, but that's still exploratory so it w

[2017-03-26 17:20] #46 closed

[2017-03-27 03:56] ashokkumarsand commented on #46
@glortho Yeah i need like that. are we having some kind of hack which we can do. also it not focusing elements

[2017-03-27 11:56] glortho commented on #46
These are really React questions so I recommend taking them to stackoverflow.com. You will surely get lots of answers to your questions there!

On Sun, Mar 26, 2017 at 11:56 PM -0400, "ashokkumarsand" <notifications@github.com> wrote:

@glortho Yeah i need like that. are we having some kind of hack which we can do. also it not focusing elements

—
You are receiving this because you were mentioned.

[2017-03-27 12:57] ashokkumarsand commented on #46
@glortho Thank you for giving your precious time.

[2017-03-27 13:03] glortho commented on #46
No problem @ashokkumarsand !

[2017-03-30 20:15] wmertens opened #47 "add `es` build to allow tree shaking"
https://webpack.js.org/guides/tree-shaking/

For example, if you only use method decorators, it won't include the class decorator code (as long as you use ES6 export syntax and none of the modules are running functions that might have side-effects).

Here's how redux-form does it: https://github.com/erikras/redux-form/blob/master/package.json#L15

react-keydown is kinda biggish when bundled, and o

[2017-04-04 14:14] glortho commented on #47
Thanks for this @wmertens - I'll get a native modules build going here in the next couple days

[2017-04-07 15:29] #47 closed

[2017-04-07 15:29] glortho commented on #47
this is now added as of 1.7.0. please let me know if this meets your expectations @wmertens

[2017-04-25 07:49] phienngo opened #48 "@keydown is error"
Hi admin,
I just add react-keydown, and using Class Decorator, but the error occur at character "@" ,
Please help me.

p/s: copy all source from demo: http://glortho.github.io/react-keydown/example/index.html
Thanks

[2017-04-25 13:24] glortho commented on #48
Greetings @phienngo - you will need to transpile decorators with something like this https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy .

[2017-04-25 13:24] #48 closed

[2017-04-25 16:56] EvNaverniouk opened #49 "Documentation without decorators"
All the documentation for `react-keydown` is using the legacy decorator feature of Babel. I'd like to move away from this Babel but I can't figure out how to use `react-keydown` without decorators. Everything I've tried seems to fail.

Can you please add some simple documentation about how to wrap classes and class methods without using decorators?

[2017-04-25 17:08] glortho commented on #49
@EvNaverniouk Sure, sorry about that. I removed that documentation a while back when it seemed no one was using this lib without decorators. In general I think it's probable (though not necessary) that you'll find other libs easier to use if you're not going to use the decorator pattern, at least for methods.

Class level decorators are still straightforward enough:

[code]

But method level decor

[2017-04-25 17:08] #49 closed

[2017-04-25 17:35] EvHaus commented on #49
Thank you for the quick response.

It is worthwhile promoting this to the README? Especially since `transform-decorators-legacy` will be going away in favor of `transform-decorators` which doesn't yet support method decorators.

[2017-04-25 17:52] EvHaus commented on #49
Also, FYI, `import {setBinding} from 'react-keydown';` currently returns undefined. I had to use `import keydownStore from 'react-keydown/es/store'; console.log(keydownStore.setBinding);` to get it to work.

[2017-04-26 01:58] phienngo commented on #48
Thanks so much @glortho

[2017-04-26 09:47] salmanm opened #50 "Multiple instances of same components seems to goof up"
I have a dropdown component which has the following

[code]

and it seems that only the last one is ever called. Looks like its because of **same** handler passed to react-keydown and its only calling the last one.

Can anyone reproduce this issue?

[2017-04-26 13:21] glortho commented on #50
@salmanm Is it possible this is what is happening?

[2017-04-27 13:32] salmanm commented on #50
Yep, sorry I missed that.

[2017-04-27 13:32] #50 closed

[2017-04-29 02:43] tommoor opened #51 "Disabling keyboard shortcuts when contenteditable focused"
Thoughts on how to achieve this? Should it be baked into the library the same way as input and textarea?

[2017-04-29 05:49] tommoor commented on #51
So, I think this could be achieved by checking for an aria role of `textarea`.

[2017-05-02 14:25] glortho commented on #51
Thanks for this @tommoor - I'll try adding that check for the aria role. Stay tuned.

[2017-05-02 14:27] tommoor commented on #51
Great! I forked and did some of the work but unfortunately can't get your test suite to run on node 7.8

You should try cloning and installing into a fresh directory if possible, there might be some dev deps or instructions missing?

[2017-05-02 15:43] glortho commented on #51
Okay good to know @tommoor. I'll check it out.

[2017-05-08 02:33] #51 closed

[2017-05-08 02:40] glortho commented on #51
I pushed a fix for this in 1.7.1. Give it a try and let me know if it works as expected for you @tommoor

[2017-05-08 04:14] tommoor commented on #51
Unfortunately the fix doesn't seem to work - My best guess is because the contenteditable element is full of other elements that are the event `target` when typing. Really the logic should check if any of the parents are role="textarea"…

[2017-05-08 04:20] tommoor commented on #51
I checked, the `target` is correct - actually I think the new logic is just wrong. It should be checking that the role **is not** textarea, but it appears to be doing the opposite.

[2017-05-08 19:45] glortho commented on #51
doh! midnight regression. sorry about that. it should be correct now in 1.7.2 @tommoor

[2017-05-12 15:32] tommoor commented on #51
Hey Jed,

I just got a chance to test this manually - unfortunately the logic is still incorrect because of the **or** between the two checks for a textarea/input. This is why I wanted to figure out how to run your test suite 😆

[2017-05-12 15:44] glortho commented on #51
Ah sorry - I'm very distracted at the moment. That's an easy fix but let me
get the tests back in shape and then I'll push everything up.

On Fri, May 12, 2017 at 11:32 AM, Tom Moor <notifications@github.com> wrote:

[2017-05-12 19:59] glortho commented on #51
Ok @tommoor tests + this issue should finally be fixed (as of 1.7.3). That was embarrassing. 😬

[2017-05-12 20:07] tommoor commented on #51
🙌

[2017-06-02 19:12] appjitsu opened #52 "Conditionally listen to key events"
Let's say I have a list of items that I am rendering on a page. Each item is a component. Inside that component I am listening for key events, but I only want to listen when that component has a prop passed in called isSelected.

As it stands now, all of those components in the list are listening and I want to prevent that.

The following handler should only fire when this.props.isSelected === tru

[2017-06-02 19:42] glortho commented on #52
I think I understand what you're looking for @appjitsu. There isn't yet support for conditional binding, but you can do one of these:

[code]

If you can't do that 👆 because it doesn't give you a large enough scope, another option is to decorate the parent of these list items and then decide what to do inside your list items. Something like:

[code]

Do either of those work?

[2017-06-02 20:37] strataga commented on #52
After thinking more about it, I think I will only display the child
component when the prop is true from the parent side, otherwise just show a
span. There should only be on of them at a time.

Thanks. I appreciate your help.

On Fri, Jun 2, 2017 at 2:42 PM, Jed Verity <notifications@github.com> wrote:

[2017-06-02 20:38] #52 closed

[2017-06-03 19:12] strataga commented on #36
I just tried 'del' and 'delete' and 46, but it does not work for me.

The docs say: "enter (aka return), tab, up, down, left, right, space, backspace"

I currently have the following keys above my function and the others besides delete work fine.

`@keydown('up', 'down', 'tab', 'shift+tab', 'enter', 'delete')`

[2017-06-03 21:06] strataga commented on #36
ok well it appears that the 'delete' key on mac keyboard is the 'backspace' in the api.

[2017-06-21 05:05] basharov commented on #28
Advice by @glortho works just as expected in a TypeScript project, thanks!

[2017-06-23 16:17] EvNaverniouk opened #53 "v1.7.3 broke support for simulated event testing"
To test our components and their interactive with `react-keydown` we usually write tests which simulate events, like so:

[code]

This then allows us to run tests to ensure `react-keydown` was bound correctly and fires the right callback.

However, after upgrading from `1.7.2` to `1.7.3` these tests are no longer working due to the changes in made here:

[code]

The issue is that this code assumes

[2017-06-23 17:59] #53 closed

[2017-06-23 18:02] glortho commented on #53
@EvNaverniouk try 1.7.4 and let me know if that fixes it for you

[2017-06-23 19:39] EvHaus commented on #53
Wow, thanks for the super fast turnaround. That absolutely fixes the issue!

[2017-06-27 20:44] ImBrek opened #54 "Watch modifiers keys"
Hi, can I watch only ctrl click?

I tried this:
[code]

But, if I am not wrong, `matchKeys` waits modifier + key

[2017-06-28 00:16] glortho commented on #54
react-keydown isn't meant so much for clicks + modifiers. for your case I would just use regular click/mousedown event bindings and then inspect `event.ctrlKey` etc. but i'm certainly open to prs that add support for this in an elegant way.

[2017-06-28 00:16] #54 closed

[2017-07-24 18:15] salmanm opened #55 "Allow for programmatic activation of components to receive keydown events"
The issue I have is similar to https://github.com/glortho/react-keydown/issues/16, but not sure.

When I decorate my class with `@keydown()` without any arguments, I get error as

![image](https://user-images.githubusercontent.com/2510597/28537823-ce2f4f12-70c9-11e7-8393-64885e06ef19.png)

The reason I'm passing no args is that I want to capture all keys and I believe its decided [here](https://gi

[2017-07-24 18:27] glortho commented on #55
@salmanm we currently don't support triggering a function with all keys – we'll create an issue for that – but you can do something similar with the class decorator:
[code]

[2017-07-24 18:28] glortho opened #56 "Allow decorated methods to be triggered by all keys"
See #55

[2017-07-24 18:34] salmanm commented on #55
Great! Thanks for the quick response 😄

[2017-07-24 18:40] salmanm commented on #55
But now I'm getting this error :(

![image](https://user-images.githubusercontent.com/2510597/28538959-a261d496-70cd-11e7-8f37-95e0d3b719a7.png)

I'm on v1.7.0

[2017-07-24 18:51] glortho commented on #55
okay @salmanm can you paste in your code or pass me a repo link so i can try to reproduce?

also, what browser are you using?

[2017-07-24 19:49] salmanm commented on #55
Alright I did some digging and found that it was due to `onMount` I was using from under the hood as suggested in https://github.com/glortho/react-keydown/issues/28#issuecomment-236898702.

I was facing some issues with focus so I had to use `onMount` to start capturing keys again after loosing focus from a child. I removed it and now this issue is resolved. However, I'm back to that focus issue a

[2017-07-25 01:05] glortho commented on #55
@salmanm it may be that you need to unbind that child component like so:
[code]
Does that help?

[2017-07-25 04:12] salmanm commented on #55
I'm not using keydown in child component. So unbinding it there seems like an out of the place thing. It'd better if I can rebind parent/current component. But that I can't do because I have decorated class and the `instance` to be bound is not my class, it's the decorated class, which I
do not have access to. :(

[2017-07-25 04:41] salmanm commented on #55
What works is creating an `activate` method in [decorator class](https://github.com/glortho/react-keydown/blob/master/src/decorators/class_decorator.js#L41) and passing as prop so that `this` decorated class can bind whenever required

[code]

But not sure if its a good idea

[2017-07-25 06:24] salmanm commented on #55
So here's the problem
I had a dropdown child component. Which shows a div with a list of options and when you click on any option, it calls back `onSelect` prop function and closes the options. Now the `target` element from [here](https://github.com/glortho/react-keydown/blob/master/src/lib/dom_helpers.js#L56), is not even in the DOM, so this condition returned false and I loose focusable instance

[2017-07-25 13:20] glortho commented on #55
@salmanm It does seem like we should expose a predictable hook for programmatic activation, along the lines of https://github.com/glortho/react-keydown/issues/55#issuecomment-317627321. There might be a danger of `activate` colliding with other props - can you think of another name that makes sense? Something like `takeKeydownEvents()`, `focusForKeydown()`,...?

[2017-07-25 13:43] salmanm commented on #55
While adding such functionality is anyway a good idea and can be useful for many cases, but I still think using that in this case is a hacky solution. In ideal case, we should some how handle the case where we check clicked element.
[code]
Here, if we can somehow manage to detect the target element before it gets removed from DOM, that'd be great.

Perhaps binding events in capture mode [here](htt

[2017-07-25 14:09] glortho commented on #55
Hm well I'm not too experienced with capturing but I think since we have just the one listener on `document` we need to take advantage of bubbling. It seems to me that if `target` is no longer present [here](https://github.com/glortho/react-keydown/blob/master/src/event_handlers.js#L22) then all bets are off and we leave the store activation order as it is instead of going through this reshuffling

[2017-07-25 14:14] salmanm commented on #55
Okay fair enough... So regarding your question on prop name, we could probably keep it `activateKeydown` or with an underscore `_activateKeydown` or whatever name you like.

We could alternatively pass the activate function in `context`, making all child components aware of it and be able to call it. But upto you what you prefer 😄

[2017-07-25 14:19] glortho commented on #55
Okay thanks for the discussion @salmanm . I'll do a patch version with our fix for now and then work towards a minor version with the activation feature. Stay tuned.

[2017-07-25 14:37] #55 closed

[2017-07-25 14:40] glortho commented on #55
Okay see if 1.7.5 fixed this issue for you @salmanm

[2017-07-25 15:19] EvHaus opened #57 "1.7.5 update throws `.isAttached is not a function` errors"
After upgrading from 1.7.4 to 1.7.5 I've been getting these errors from all components that use `react-keydown`:

[code]

[2017-07-25 15:25] glortho commented on #57
Sorry about that! See if it works now as of 1.7.6

On Tue, Jul 25, 2017 at 11:19 AM, Ev Haus <notifications@github.com> wrote:

[2017-07-25 15:57] EvHaus commented on #57
1.7.6 now causes rendering to completely fail with a new error message:

[code]

[2017-07-25 17:02] glortho commented on #57
What the. Sorry, inexcusable. Trying to do too much from phone. Give me an hour or so to get back in the saddle

________________________________
From: Ev Haus <notifications@github.com>
Sent: Tuesday, July 25, 2017 12:07:09 PM
To: glortho/react-keydown
Cc: Jed Verity; Comment
Subject: Re: [glortho/react-keydown] 1.7.5 update throws `.isAttached is not a function` errors (#57)

1.7.6 now causes re

[2017-07-25 17:15] EvHaus commented on #57
Thanks so much for the quick responses. Let me know when another version is ready to test.

[2017-07-25 17:17] glortho commented on #57
A typo, my apologies! Please try 1.7.7.

[2017-07-25 17:17] #57 closed

[2017-07-25 17:32] EvHaus commented on #57
Works like a charm. Thanks!

[2017-07-27 07:13] salmanm commented on #55
Sorry I couldn't check earlier

But you forgot to export `isAttached` function [here](https://github.com/glortho/react-keydown/commit/36206a716e41d89a5d8e1e191ccbf131b0dcd2b0#diff-47566d9141bbc57cf0c73f9a78d467c5R84)

So 1.7.5 is broken completely.

[2017-07-27 07:29] salmanm commented on #55
After some more research, turns out that logic in `isAttached` is not sufficient. Although it returns true, but the next step where we check `node.contains` returns false. I suggest we revert back to 1.7.4 and attempt a fix, test and then release 😄

I can contribute if you like :)

[2017-07-27 12:05] glortho commented on #55
@salmanm 1.7.5 and 1.7.6 were broken. 1.7.7 is what you need. Happy to review a pr for the rest!

[2017-07-27 17:03] glortho commented on #55
btw also @salmanm it should be the case that `isAttached` returns false if your target node is in fact no longer in the DOM. are you not finding that to be the case? or maybe it just was failing because of broken builds. curious to hear if it works as of 1.7.7.

[2017-07-27 19:04] salmanm commented on #55
I tried with 1.7.7 as well. In fact when I found 1.7.5 broken I fixed it locally and tried but none works.

Here's my finding:
you're checking for `node.parentNode` in `isAttached` function. Which obviously returns the `parentNode`. However, that `parentNode` itself is not present in DOM. Its my dropdown control. `target` element is `li` and its parent is `ul` which is in-turn wrapped in a `div` w

[2017-07-27 19:25] salmanm commented on #55
I have opened https://github.com/glortho/react-keydown/pull/58 which implements my original suggestion from my previous https://github.com/glortho/react-keydown/issues/55#issuecomment-317741259.

I have tested and verified that it works fine.

[2017-07-27 20:32] salmanm commented on #56
I am ready with this implementation too. Happy to raise a PR after we decide on the #58.

[2017-08-02 15:10] glortho commented on #56
Thanks for all your work on this @salmanm . See if 1.9.0 works as expected for you (failed build/publish for 1.8.0).

[2017-08-02 15:10] #56 closed

[2017-08-02 21:31] RubyEDE commented on #44
Any update on this?

[2017-08-03 00:58] arcifius opened #60 "1.9.0 breaking the lib"
1.9.0 isn't working here... It says keysArray is undefined

from: parseKeys(keysArray) function

[2017-08-03 01:23] glortho commented on #60
Hm sorry to hear that. Show me your code and I'll see if I can reproduce @arcifius

[2017-08-03 01:36] glortho commented on #60
Never mind I think I see the issue with class decorators that don't pass in any specific keys. Was that your set up? Anyway, try 1.9.1 and see if that fixes the issue for you @arcifius .

[2017-08-03 01:37] glortho commented on #44
I haven't gotten around to this yet but happy to review a PR! Otherwise I should be able to get to it within the next couple of weeks.

[2017-08-03 07:40] salmanm commented on #44
@glortho Shall we agree upon a way to supply `options`?

[code]

Does it seem right?

[2017-08-08 01:25] stoplion commented on #60
Having same prob, using 1.9.1

[2017-08-09 14:04] glortho commented on #60
Okay @stoplion could you post your error and a code snippet showing how you're using react-keydown?

[2017-08-10 12:17] devarshi89 opened #62 "Experimental Decorator Error"
![image](https://user-images.githubusercontent.com/30517568/29169859-ca910904-7df3-11e7-879a-1a55e45f7f66.png)

I Tried With tsconfig.json But Not Working In Any Way. I Am Trying To Use @keydown('enter').

Please Help !

[2017-08-10 20:58] glortho commented on #62
i'm not sure how typescript is transpiling decorators @devarshi89 . the method decorator in react-keydown expects transpilation according to this babel transform https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy.

has anyone else tried in typescript? unless someone else has had success we may need to state in the README that typescript is not supported at this time.

though a

[2017-08-11 04:00] salmanm commented on #62
This isn't a `react-keydown` issue.

Its the VSCode that shows this warning, and as far as I know, it would still be working with this warning.

Please check if you have the following in your `tsconfig.json` and also put the file under `./src` and not on root.

[code]

[2017-08-12 11:26] devarshi89 commented on #62
tsconfig.json In src
{
    "compilerOptions": {
        "experimentalDecorators": true,
        "allowJs": true,
        "target": "ES6",
        "module": "amd",
        "sourceMap": true
    }
}

npm install babel-plugin-transform-decorators-legacy --save-dev

With The Help Of This Issue Resolved

[2017-08-12 11:26] #62 closed

[2017-08-12 14:46] sjorsvanheuveln opened #63 "SyntaxError: Leading decorators must be attached to a class declaration"
I've installed the decorators package and added the plugin line to my bable.rc, but I'm getting this error:

ERROR in ./src/components/home/HomePage.jsx
Module build failed: SyntaxError: Leading decorators must be attached to a class declaration (10:2)

[code]

How to fix this?

[2017-08-12 14:55] sjorsvanheuveln commented on #63
Ok, figured out this only works with this component setup:

[code]

[2017-08-12 14:55] #63 closed

[2017-08-14 07:41] salmanm commented on #60
I've just tested both decorators, couldn't reproduce the case. In fact, I'm using it in my live app and works fine!

[2017-08-14 13:21] glortho commented on #60
Okay thanks @salmanm - maybe he actually had 1.9.0. Closing until someone reproduces.

[2017-08-14 13:21] #60 closed

[2017-08-14 13:47] salmanm commented on #60
@glortho btw, please could you release 1.9.2, my recent commits aren't yet on npm.

[2017-08-15 14:01] glortho commented on #60
Done @salmanm . Thank you for that and for all your help around here!

[2017-08-17 14:51] lemonbutter opened #64 "findDOMNode on unmounted component"
Hi, I found a bug in your plugin.

From time to time it happens that a component is mounted and directly unmounted.
When this component has a keydown annotation somewhere, it will be added to the store after it was unmounted. If you click then somewhere the _onClick function tries to find this unmounted component.
This causes an Error in IE -> findDOMNode was called on an unmounted component.

The

[2017-08-18 19:52] glortho commented on #64
Ah yeah this must have started when we switched from bubbling to capturing. Does that make sense to you @salmanm ?

[2017-08-19 10:28] salmanm commented on #64
@glortho How could it be related to that event change 🤔 What am I missing?

[2017-08-19 10:37] salmanm opened #66 "sometime we end up with no events bound"
I have seen a similar issue as https://github.com/glortho/react-keydown/issues/64 last week which prevented all keydowns in a component.

Basically the problem is that we bind `keydown` event on `componentDidMount` and unbind it on `componentWillUnmount`, but due to incorrect sequence, this gets messed up and we end up with no bound events hence nothing works.

I could be wrong, but it looks like

[2017-08-19 10:41] salmanm commented on #64
@lemonbutter Are you adding and removing the DOM very quickly?

@glortho This looks to me that it doesn't have anything to do with event change done in https://github.com/glortho/react-keydown/pull/58, but it indeed looks like delaying `store.activate` is causing this.

I see your comments, but couldn't really understand why it didn't work without `setTimeout`

[2017-08-21 06:05] d-treegardener commented on #64
@salmanm Yes, after I found the issue, I also refactored my code a bit. But I can't prevent it every where. It's a list which has content but then on mount it will be refreshed and a loading bar is displayed instead.
The list component has a method with left/right keydown to navigate through it.

When I remove the setTimeout it works without issues.

[2017-08-21 14:34] glortho commented on #64
@salmanm i believe the smelly `setTimeout` was a patch for cases where a bound component mounted as the result of a click event. in that case, we want the newly mounted component to get dibs on keydown events, even if it's not in the ancestral tree of the click event. for example, i click a button in my sidebar that mounts a key-bound component in a different branch of the view that i want to use

[2017-08-21 15:04] salmanm commented on #64
Thanks @glortho for that excellent explanation. I get it now. Yes it makes sense to remove `setTimeout` now 😄

[2017-08-21 15:18] glortho commented on #64
ok @salmanm @lemonbutter initial tests removing `setTimeout` have been successful for me. please try 1.9.3 and see if it works predictably for you.

[2017-08-21 15:18] glortho commented on #66
interesting. see if 1.9.3 addresses this issue @salmanm . if not i'll take a closer look.

[2017-08-21 20:38] nperriwp opened #67 "Symbol is undefined in Internet Explorer"
I was using version 1.7.7 of react-keydown and it worked fined in Internet Explorer. Once I updated to version 1.9.2 of react-keydown my project failed to work in Internet Explorer. Internet Explorer complains that Symbol is undefined. According to [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2017-08-22 06:16] salmanm commented on #67
@glortho We had usage of `Symbol` since before 1.7.7, wondering why then it has become a problem now!

[2017-08-22 06:34] d-treegardener commented on #64
The change works for me =) Thanks

[2017-08-22 13:27] #64 closed

[2017-08-22 13:29] glortho commented on #67
@nperriwp @salmanm We would've been using Babel 5.x in <= 1.7.7 vs Babel 6.x in >= 1.9.2, so it must be that `Symbol` is now getting transpiled differently or not at all. Strange, however, that the poster in #64 is using IE but apparently not seeing the same issue. Maybe @lemonbutter was using Edge?

In any event, I'll look into our transpilation settings.

[2017-08-22 13:32] salmanm commented on #67
I already checked, `Symbol` is not getting transpiled. It works with `babel-polyfill`, but then I wondered it works with Webpack which means that the consumer of this module would need to use it! Didn't sound right to me, and also I wasn't sure how to _not_ pollute global namespace if we want to use polyfill.

I will wait for your findings :) @glortho

[2017-08-22 13:55] glortho commented on #67
I've explicitly added the core-js symbol polyfill to our keys lib, where `Symbol` is being used. Please let us know if this works for you in 1.9.4 @nperriwp .

I assume others who are having success on IE probably just have Symbol polyfilled already somewhere in their stack.

[2017-08-22 14:05] d-treegardener commented on #67
Our company uses IE11 in Edge mode for the project I'm working for. We use webpack for bundling.
Don't know if it's already polyfilled. We have a lot of dependencies 🙈

[2017-08-22 14:06] glortho commented on #67
Okay thanks @lemonbutter that helps. We'll see what @nperriwp says from here.

[2017-08-22 18:13] nperriwp commented on #67
Yes, 1.9.4 fixes the problem. Thank you.

[2017-08-22 18:13] #67 closed

[2017-08-24 14:35] mmsbrggr opened #68 "Can't use keydown on components which use portals"
Hey :)
I have a modal component which renders some markup in a portal (so it overlays the whole body). I wanted to use `react-keydown` to close the overlay when the ESC key is pressed. This is not working. I believe that the problem is that `react-keydown` only listens on keydowns which happen inside the component. Through react-portal the overlay jumps out of the current component. What would be

[2017-08-24 16:40] salmanm commented on #68
I may be wrong, but looking at your code [here](https://github.com/sulu/sulu/pull/3466/files/a844fa8067286a912a05b27e4ff205d169d5e40c#diff-cc8276531d9fd112646281ad67695402), it seems to me if you decorate your `ModalBox` component, it should work.

I don't know how `react-portal` works, but I assume it would pull out `ModalBox` component to `document.body`. So if you decorate `ModalBox` and create

[2017-08-24 17:11] mmsbrggr commented on #68
Thank's for your reply :). That sounds reasonable and could work. I'll try it tomorrow. Nevertheless it would be great to also be able to use react-keydown on components which use portals. The expected behavior in my opinion would be, that the methods in the component receive all keydown events of the window.

[2017-08-24 17:15] salmanm commented on #68
Appreciate the feedback. However, IMHO I don't think that's the purpose of `react-keydown`, capturing global document events is straightforward using native javascript code.

WDYT @glortho

[2017-08-24 17:53] glortho commented on #68
i agree that @salmanm's suggestion above should work: https://github.com/glortho/react-keydown/issues/68#issuecomment-324690307

i also agree about global event binding. one of the main inspirations/use-cases of react-keydown is shifting scopes. for example, you may want to use navigational arrow keys to navigate lots of different lists/grids in your app. setting up global bindings for that can ge

[2017-08-24 17:53] #68 closed

[2017-08-25 06:03] mmsbrggr commented on #68
@salmanm @glortho. The solution in https://github.com/glortho/react-keydown/issues/68#issuecomment-324690307 works perfectly. Thank you. I really appreciate your work and really like react-keydown. Do you think it's not suitable for the library to include some kind of mechanism to listen to all keydowns of the window. Maybe including an additional decorator `@keydownGlobal`? What's your opinion on

[2017-08-25 13:46] glortho commented on #68
that's not a bad idea @mmsbrggr . what do you think @salmanm ?

it's starting to seem like we need to accept options. `{ debounce: 200 }` along the lines of what you suggested in the other issue @salmanm, and we could also do `{ global: true }`, which i guess would trigger in all cases as long as the decorated component was mounted and there was no duplicate keybinding that would otherwise be acti

[2017-08-26 17:22] salmanm commented on #68
Hmmm if it is to avoid binding and unbinding in `cWM` & `cWU` then yes its a cleaner API. But I think for this a clear distinction would be better, as @mmsbrggr suggested `keydownGlobal`.

Also, finding conflicting keybindings could be tricky. So I think if we just keep it stupid simple and call all handlers registered as global bindings that could work.

[2017-08-28 19:39] glortho commented on #68
Okay sounds good -- I'll create an issue. Feel free to tackle it if you have time @salmanm or @mmsbrggr . Otherwise I'll get to it before long.

[2017-08-28 19:39] glortho opened #69 "Add global keybinding helper"
See https://github.com/glortho/react-keydown/issues/68 for details.

[2017-08-28 19:40] glortho commented on #66
Are you still having this issue @salmanm ? I'm assuming not. Reopen if so.

[2017-08-28 19:40] #66 closed

[2017-08-28 21:44] salmanm commented on #66
I got busy sorry. Yeah it's fine to close, I still haven't but I'll try it
soon.

On 28-Aug-2017 22:40, "Jed Verity" <notifications@github.com> wrote:

[2017-09-22 19:00] valp124 opened #70 "How can "forceConsider" be set to true?"
I need to set forceConsider argument to _onKeyDown function in event_handler.js to true. How can this be done?

The reason I need that is that I need to be able to cancel an action with an escape key, regardless of where the target is. In my case, the target sometimes falls into the black list of _shouldConsider function, and then my code doesn't work.

Thanks a lot.

[2017-09-23 19:27] glortho commented on #70
@valp124 Are you wanting key bindings to work while a form element is focused?

[2017-09-25 04:48] sheldonrong commented on #68
@glortho  any progress on this #69 ?

[2017-09-25 12:37] valp124 commented on #70
@glortho Not a form element per se -- because there is no form -- but in practice is happens to be textarea in this case.

I work in a complex single page app environment (https://www.os-js.org/) and don't always control what is in focus, the "os" is managing virtual windows, desktop icons, etc. The upshot of all this is: I want to be able to force the escape key action regardless of what _appears

[2017-09-25 22:52] sheldonrong commented on #69
hey @glortho  do you mind have a quick check on PR #71 ?

I basically added a config option and if `global` is set to `true`, the key binding will be effective even the component is not focused.

[2017-09-26 13:35] glortho commented on #69
Sorry for the delay @sheldonrong. Thank you for doing this! I'm on crazy deadline this week but will check it out ASAP.

[2017-09-26 23:49] glortho commented on #70
Okay @valp124 do you think a global keybinding along these lines would help? https://github.com/glortho/react-keydown/issues/69

[2017-09-27 20:31] valp124 commented on #70
If I understand #69 correctly, it should. I suppose that's the effect I would achieve if I could set forceConsider to true.

[2017-09-28 14:09] glortho commented on #70
Ok @valp124 stay tuned for that. I'm hoping to work with @sheldonrong to get that merged next week.

[2017-09-30 07:15] LoeiFy opened #73 "how to 'preventDefault' ?"
when use key 'up, down, left, right', the page will scroll by default. how to disable it ?

[2017-09-30 13:19] glortho commented on #73
@LoeiFy are you using the method decorator? if so, it will receive `event` as its argument, which you should be able to use for `event.preventDefault()`:

[code]

if you are using the component decorator, `keydown.event` will be passed down as a prop. in theory you can `keydown.event.preventDefault()` but i haven't tested that, and it's conceivable that there is a race condition preventing that fr

[2017-10-02 22:10] sheldonrong commented on #69
@glortho not a problem, send me a message when you are free to look at the PR :)

[2017-10-05 07:05] LoeiFy commented on #73
@glortho thanks

[2017-10-05 07:05] #73 closed

[2017-10-05 07:29] mstruebing opened #74 "ArrowDown and ArrowUp as string doesn't work in monitoring"
When I try to use `ArrowUp` or `ArrowDown` like in this example: https://github.com/glortho/react-keydown#monitor-only-key-codes-which-you-care-about

It isn't working. However, when I'm using the keycodes(38, 40) it is working. I also tried `arrowdown`  and `arrowup` as also `arrowDown` and `arrowUp`

[2017-10-05 07:31] mstruebing commented on #74
Upps, I've found that I have to use `up` and `down` instead.

[2017-10-05 07:31] #74 closed

[2017-10-05 13:44] glortho commented on #44
Ah sorry, I never replied to this @salmanm . Yes, I think that's the way for now.

[2017-10-05 13:46] salmanm commented on #44
No problem, been on a tight deadline just like you. I'll be more active here soon.

[2017-11-02 18:54] thunderkid opened #75 "Processing Enter (for example) on a form"
I have a form (though I'm not using html native `<form>`), and I'm trying to process the Enter key. I'm decorating my method with `@keydown('enter')` but this only works if focus isn't in an input field. (Though it works fine if I use `'ctrl+enter'` instead).

Is there a nice way to set `forceConsider` so that `_shouldConsider `will let it through even when focus is on an input field? Seems like I

[2017-11-02 18:58] glortho commented on #75
@thunderkid yeah we're thinking about including an option to trigger in inputs when you set up the binding. in the meantime, you can do something like:

[code]
Or if you're using it on a lot of them:
[code]

[2017-11-02 19:10] glortho commented on #75
let me know if this doesn't work for you and we'll re-open

[2017-11-02 19:10] #75 closed

[2017-11-02 19:10] thunderkid commented on #75
Yes, I noticed that approach in your docs. But I didn't like it since in many cases I've got nested components that set up the fields, so sprinkling `onKeyDown`'s around and having to pass the method down through subcomponent layers would get pretty ugly, just to catch an enter key.

Any idea on the timing for releasing this option? I'd offer to take a look and submit a PR, but it seems like it re

[2017-11-02 19:20] glortho commented on #75
Yeah I hear you. And you can't just wrap your inputs in a `<form onSubmit={ myMethod }>` to get the default submit-on-enter behavior?

If not, a PR for this functionality likely wouldn't be too complex. If we started with just method decorators, you could add a condition here that checks for the option and makes sure we have a keydown event: https://github.com/glortho/react-keydown/blob/master/src

[2017-11-02 19:34] thunderkid commented on #75
I tried `onSubmit`, but it wasn't great. (Because ... Interfered with other third party react components weirdly across browsers ... even though it handles 'enter', I wouldn't have resolved the problem for any other key I wanted to trap, like 'esc' ... suddenly I'd have two parallel logic routes - one for enter and one for processing control keys.)

Thanks for the suggestions. I'll start poking ar

[2017-11-02 20:56] thunderkid commented on #75
Please excuse the naive question, but I'm trying to get going on a PR, and I'm not sure whether I'm missing something in your build environment.
I've cloned the repository, and run npm install. Then I run the local webpack with `.\node_modules\.bin\webpack`, which creates only a 2k `example\public\js\app.js` file. When I open `example\public\index.html` in a browser it gives errors. I see no sign

[2017-11-03 13:23] glortho commented on #75
Hm ok well running `webpack` should build the example for you. What is the
error you get when you open index.html?

On Thu, Nov 2, 2017 at 4:56 PM, thunderkid <notifications@github.com> wrote:

[2017-11-03 16:24] thunderkid commented on #75
I get `Uncaught syntax error: Unexpected token Import`, and the `example/public/js/app.js` file contains
[code]

I just tried on a fresh machine with the same result, whether I run my global webpack or the local one under `node_modules\.bin\`.

[2017-11-03 16:41] glortho commented on #75
Ah what browser are you using? Try latest Chrome or change `{ "modules":
false }` to `{ "modules": "umd" }` in .babelrc

On Fri, Nov 3, 2017 at 12:24 PM, thunderkid <notifications@github.com>
wrote:

[2017-11-03 16:57] thunderkid commented on #75
I was already using latest Chrome 62.0.3202.75 under windows 10.
But `modules: "umd"` fixed it. Thanks.

[2017-11-03 19:59] thunderkid commented on #75
What command do you run to create a library bundle as opposed to the entire example app?

[2017-11-03 20:04] glortho commented on #75
Check out our package.json for our build scripts. We do mainly `npm run
build` and `npm run build:es`

On Fri, Nov 3, 2017 at 3:59 PM, thunderkid <notifications@github.com> wrote:

[2017-11-03 20:15] thunderkid commented on #75
`npm run build:es` works. But `npm run buld` gives `BABEL_ENV is not recognized as an internal or external command`.

[2017-11-03 20:52] glortho commented on #75
Ah right you're on Windows. I'm not sure what the equivalent is, but it
should be okay if you can set an environment variable to that value
BABEL_ENV=production. Sorry I'm not too familiar with Windows dev
environments!

On Fri, Nov 3, 2017 at 4:15 PM, thunderkid <notifications@github.com> wrote:

[2017-11-03 22:48] thunderkid commented on #75
Turns out there's an npm utility `cross-env` that makes `npm build` work in windows. I'm noticing that `npm build` and `npm build:es` are producing binary identical files, ie `BABEL_ENV=production` changes nothing. Does this seem right or is windows still ignoring something?

[2017-11-06 06:42] thunderkid commented on #75
So I can make changes and test them in your example app, but now I'm trying to test them in my own app, and I'm having no success running a local copy of the library.

Here's the problem: In my own app I first run the published version: I `npm install react-keydown@1.9.5` and then I use `import keydown, { Keys } from 'react-keydown'`. Everything is fine. I can `console.log(Keys)`, and `@keydown` b

[2017-11-16 23:17] af opened #76 "Issue with shallow rendering in React 16/Enzyme 3.2"
While migrating to React 16, we noticed that some of our Enzyme shallow rendering tests are no longer working with `react-keydown`. We get errors from various components that all follow the following pattern:

[code]

Our usage of `react-keydown` is as follows (decorators on methods of class components):

[code]

Converting these tests to use Enzyme's `mount()` resolves the errors, but the shallow

[2017-11-19 19:55] glortho commented on #76
Okay it should be easy enough to suppress that during shallow rendering. We're on tight deadline at the moment, but I'll see if I push up a fix in the next couple of days.

[2017-11-19 21:19] af commented on #76
Great, thanks!

[2017-11-21 14:17] glortho commented on #76
I've published 1.9.6 with error catching to prevent that from throwing but there is obviously a deeper issue to address here. If the catching doesn't resolve it for you @af I can investigate more in a couple weeks. Let me know!

[2017-11-22 20:52] ste93cry opened #77 "Add flow types definitions"
I just started looking at [Flow](https://flow.org/) and while using your library (great work!) I noticed this library lacks the types definitions. Would it be possible to add them?

[2017-11-23 02:35] fortranlee commented on #30
Nothing needs to be changed, use the`repeat` prop within the `KeyboardEvent` param to disable repeated keys.

![image](https://user-images.githubusercontent.com/5966046/33156885-f118fc34-d038-11e7-836e-da4ad40960c3.png)

![image](https://user-images.githubusercontent.com/5966046/33156877-de6595e8-d038-11e7-8a6e-df162273e63b.png)

Hope helps.

[2017-11-23 18:39] af commented on #76
This fixes it, thank you!

[2017-11-23 18:42] #76 closed

[2017-11-26 17:57] glortho commented on #77
@ste93cry It is definitely possible! Someone offered to do that a while back but apparently never got around to it. I welcome a PR that adds them, and am happy to collaborate to ensure correctness...

[2017-12-15 06:25] codeuniquely opened #78 "Unknown plugin "transform-decorators-legacy""
Getting this error trying to use the decorator

Building with
* "react": "^16.2.0",
* "babel": "^6.23.0",
* "babel-preset-es2015": "^6.18.0",
* "babel-preset-react": "^6.16.0",
* "babel-preset-stage-0": "^6.24.1",

[code]

Do I need to add babel presets to my projects '.babelrc' file  ???

[2017-12-15 14:55] glortho commented on #78
@codeuniquely it sounds like you're not ignoring node_modules in your own transpilation/bundle settings. is that true? react-keydown is already transpiled so you should ignore it

[2018-01-04 02:33] yangjiajun2014 opened #79 "Non-decorator pattern."
API & Reference page introduces non-decorator pattern,but it is not supported in the latest version?

[2018-01-08 14:44] #78 closed

[2018-01-08 14:44] glortho commented on #79
@yangjiajun2014 It should be working but of course it's possible there is a regression somewhere. Let me know where/how you're trying to use it and we can take a look.

[2018-01-11 13:52] yangjiajun2014 commented on #79
I just fllow the example in the wiki page and try to import { onMount, onUnmount, setBinding } from 'react-keydown/lib/listeners'.But I can't find this methods  in listeners.

[2018-01-11 15:11] glortho commented on #79
Ah okay that path was wrong or out of date in the wiki. It should be
'react-keydown/dist/event_handlers'.
I've corrected the wiki.

On Thu, Jan 11, 2018 at 8:52 AM, yangjiajun2014 <notifications@github.com>
wrote:

[2018-01-11 15:12] #79 closed

[2018-02-22 11:34] lpillonel opened #80 "Not working with component rendering a <React.Fragment> or an array"
When I want to use react-keydown with a component rendering an array or a React.Fragment, it's working only if i click on the first item of the array (respectively first child of the Fragment).

[code]

In this example, it's working only if I click on the first item. I tried to swipe TreeViewHeader and TreeViewComponent, and then it's working only if I click on TreeViewComponent

For now as a work

[2018-02-22 14:18] glortho commented on #80
Thank you for reporting this @lpillonel . It appears this is the issue https://github.com/reactjs/reactjs.org/issues/201

Unfortunately this could take a little time to sort out. Stay tuned.

NOTE: The issue is that to have the keybinding active for all components wrapped by a fragment, we'll need to do something like:

1. detect that the component has a fragment at root
1. bind click activations

[2018-02-22 14:39] lpillonel commented on #80
Maybe just reflecting this limitation in the documentation is enough.

And by the way, thanks for this great library : )
Really elegant way to add key binding to actions on a component 👍

[2018-02-23 09:25] lpillonel commented on #5
I miss :
- minus (109)
- plus (107)

It is otherwise not possible to make combinaison ('meta + 107'), am I right ?

[2018-02-23 14:10] glortho commented on #5
@lpillonel We should have minus `-` in there as an option but I show 189 for that https://github.com/glortho/react-keydown/blob/master/src/lib/keys.js#L25.

As for plus `+` are you able to do `shift + =`?

[2018-02-23 14:33] lpillonel commented on #5
It might work,
but I have a swiss french keyboard (I'm developing an app for swiss market...).

the key `-` (the dash) on swiss keyboard produces a code 189, but `ctrl + -` produces a code 191 😞 .
And the plus is `shift + 1` with swiss layout...

What I actually want is to use the plus / minus from the numeric keypad

[2018-02-27 18:33] EvHaus opened #81 "`setBinding` warning after upgrading to webpack 4"
After upgrading from webpack 3 to webpack 4 the `react-keydown` library is now showing this warning:

[code]

It is possible there's a bad export in the library?

[2018-03-02 18:49] af commented on #81
It looks like the issue here is that `/es/index.js` is treating `setBinding` as a named export:

[code]

But in `store.js`, setBinding is actually a method on the default export. You can't destructure a default export like this (though the ES6 syntax implies that you can). The fix for this might be as simple as adding

[code]

 to the bottom of `/es/store.js`, as `setBinding()` doesn't appear to u

[2018-03-04 18:04] glortho commented on #80
Yeah that's a good call -- documentation now, better solution later.

And thank you for the compliment @lpillonel !

[2018-03-04 18:04] #80 closed

[2018-03-04 18:32] #81 closed

[2018-03-04 18:35] glortho commented on #5
Okay what do you like as an api for this @lpillonel ?

• `@keydown( 'shift + 191' )`
• `Keys.set( '-', 189 )`
• `keydown.setLocale( 'SM' )`
• some combination of the above...

[2018-03-04 18:37] glortho commented on #81
Okay please see if 1.9.7 works for you and let me know!

[2018-03-04 20:29] EvHaus commented on #81
1.9.7 did the trick. Thanks!

[2018-04-16 20:24] BeeeQueue opened #82 "Support lambda/arrow functions"
Decorator does not work if the property is a lambda function.

[code]

[2018-04-23 12:54] AkumaTen opened #83 "Not working in ie 11"
Hi, I found this project very interesting and I start coding a simple example with Internet Explorer 11.
The array.from polyfill does not work if the object is a Set. I found problems with Symbol and Map too. A quick fix is to replace lib\array.from with something like

if (!Array.from) {
    Array.from = function () {

        // The length property of the from method is 1.
        return functio

[2018-05-01 17:51] joshuairl opened #84 "Ability to configure list of CUSTOM (not-standard keyboard) supported key events?"
Building TV apps that have Remotes that do inputs on different key bindings other than standard keyboard events.  Some use keyboards, some don't.

So since a lot of TV's have buttons such as RED, BLUE, GREEN, YELLOW that are also assigned a `keyCode` that is not aligned with the standard keyboard keyCodes, I'm trying to find a clean way to do this with react and this looks promising...

Any tips o

[2018-05-01 18:05] jfrux commented on #84
I like your implementation of managing key state and things but it looks like this kind of on the surface (at least) appears to do what I'm looking for.
https://github.com/avocode/react-shortcuts

Still interested in knowing if this module can do it or if it might be a good fit for a future enhancement.

[2018-05-02 03:21] glortho commented on #84
Sure, if actual keydown events are being fired, it would be pretty easy to add a config hook into lib/keys that lets you extend the mappings. Feel free to start a branch — I’d be happy to review.

________________________________
From: Joshua F. Rountree <notifications@github.com>
Sent: Tuesday, May 1, 2018 11:51:27 AM
To: glortho/react-keydown
Cc: Subscribed
Subject: [glortho/react-keydown] Abili

[2018-05-10 05:03] burnhamrobertp commented on #79
The example non-decorator pattern in the wiki does not work, resulting in a `TypeError: Object(...) is not a function` error if implemented as written.

I was able to get it working by changing the import statements to:
[code]

The non-decorator wiki docs have:
[code]

Which throws an error because `setBinding` isn't available inside `event_handlers`. It is available at both `react-keydown/dist` a

[2018-05-14 00:58] rachelleahr commented on #83
Having the same issue, any chance of a new release anytime soon?

[2018-06-15 17:30] ethanshar opened #85 "doesn't seem to work when input is focused"
I assume the input doesn't propagate the key press event, is there a way to do it ?

[2018-06-15 17:37] glortho commented on #85
See if this helps https://github.com/glortho/react-keydown#caveat-input-textarea-and-select-elements

[2018-06-15 17:37] #85 closed

[2018-06-15 17:38] #84 closed

[2018-06-15 17:39] glortho commented on #83
Sorry for the delay -- I haven't been receiving notifications for issues for some reason. Anyway, yes, we can definitely patch this. Stay tuned (or make a PR for hyper-speed!)...

[2018-07-17 10:58] josemigallas opened #86 "Can't use 'command' key"
I am trying to implement a "save" shortcut for my react component, using `ctrl +s` and `cmd +s`. The former works as expected however it doesn't seem to recognize `CMD` although it is described in the docs.
[code]
I've tried using: `91 + 83`, `cmd + s`, `command + s` and `meta + s`. None of those worked.

Original code: https://github.com/aerogear/data-sync-ui/blob/master/ui/components/schema/Sche

[2018-09-04 18:02] glortho commented on #86
Sorry for the delay! The issue here will be that the browser `cmd + s` gets first priority. Does the save dialog pop up when you type `cmd + s`?

[2018-09-05 08:08] josemigallas commented on #86
It does indeed @glortho

[2018-09-05 10:13] salmanm commented on #86
@josemigallas It should work if you `preventDefault`

[code]

[2018-09-05 11:13] josemigallas commented on #86
~~Sorry for confusion @salmanm I already preventDefault in the original code [here](https://github.com/aerogear/data-sync-ui/blob/master/ui/components/schema/SchemaContainer.js#L45), I must've added after posting the issue. It doesn't fix the problem tho.~~
Ignore this! It's fixed, `e.preventDefault` was there however I forgot to commit the `cmd+s` bit.
Thanks @salmanm , @glortho it works as expec

[2018-09-05 11:17] #86 closed

[2018-09-06 19:20] glortho commented on #82
This must be some kind of collision between the babel legacy decorators transform, class properties, and our binding to `this`. However, methods decorated with `@keydown` already have the component instance bound to `this` so you should be fine using the standard method format.

For reference, from https://github.com/glortho/react-keydown#notes-disclaimers-and-tips:

[2018-09-06 19:20] #82 closed

[2018-09-24 09:42] iqqmuT opened #87 "componentWillReceiveProps will be deprecated"
According to [React](https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops), using `componentWillReceiveProps()` is a bad idea and it will be deprecated soon, version 17 seems to be the last supporting the method with that name.

When using keydown for classes, what should be the proper way to handle the key events?

[2018-09-24 11:38] iqqmuT opened #88 "Fix for non-decorator pattern example"
I couldn't get keydown to work with the example in [API & Reference](https://github.com/glortho/react-keydown/wiki/API-&-Reference). It seems that `onMount.call(this)` and `onUnmount.call(this)` do not work.

This worked for me:

[code]

[2018-09-24 12:53] glortho commented on #88
Thanks for pointing this out @iqqmuT . Fixed!

[2018-09-24 12:53] #88 closed

[2018-09-24 12:56] glortho commented on #87
One way to do this will be to do the detection in `getDerivedStateFromProps` and return state related to keydown state that you can then reference in other lifecycle methods.

https://hackernoon.com/replacing-componentwillreceiveprops-with-getderivedstatefromprops-c3956f7ce607

[2018-11-07 14:03] Bobvantpadje opened #89 "Combining keydown with onClick"
This is more of a question than an issue, but I wanted to know if it's possible to detect which keys are pressed within a function. I have a function which gets called onClick, but based on the keypresses it should work a little different (its a select functionality which should also work when pressing shift).

How would I, based on if the shift key is pressed, call a function to either just selec

[2018-11-07 16:26] glortho commented on #89
@Bobvantpadje you should be able to inspect the `event` argument that is passed to your decorated method to check the value of the `shiftKey` property.

[2018-11-07 17:39] Bobvantpadje commented on #89
Thanks for the reply. I know that I can check for the `shiftKey` property. But I think the style with the decorators looks cleaner than writing an if-else statement in my function. I was wondering if it's possible to

[2018-11-07 17:39] #89 closed

[2018-11-07 18:36] Bobvantpadje commented on #89
Thanks. I was just trying to see if the even has an shiftKey property. The problem that i'm facing now is that I get the click event and not the key event. My component structure looks something like this:

[code]

The `ChildComponent` renders another type of component and this component has an onClick. But this component doesn't seem to detect my keypresses at all. My onClick looks like this:

[c

[2018-11-07 20:38] glortho commented on #89
Ah I see. Yes, the keydown event only fires when at least one the keys
pushed produces a character --
https://developer.mozilla.org/en-US/docs/Web/Events/keydown

On Wed, Nov 7, 2018 at 1:36 PM Bobvantpadje <notifications@github.com>
wrote:

[2018-11-08 09:09] Bobvantpadje commented on #89
Ahh oke, thanks for your help!

[2018-11-21 10:20] brumik commented on #5
Hi, I also miss '*' (asterisk) key which is used in tree view accessibility.

[2019-08-12 16:38] jamesremuscat commented on #87
Apologies for commenting on a long-closed issue, but does the fact that it's closed mean that you don't intend to update `method_decorator_scoped.js` to avoid using `componentWillReceiveProps`?

[2019-08-19 14:20] glortho commented on #87
Hi @jamesremuscat -- I'm a bit swamped at the moment but very happy to review a PR if anyone wants to tackle this. Reopening.

[2020-02-13 12:57] faq885 commented on #87
interested in this one, how to handle new function components?  , is there a way to use keydown with compose?

[2021-10-01 07:30] alexdemartos opened #104 "Alt+Numpad"
Hi,

any chance to set Alt + Numpad key for binding? This does not seem to work:

[code]